:root {
  --background: #fffafd;
  --foreground: #344256;
  --card: #fcf7fa;
  --card-foreground: #344256;
  --popover: #fcf7fa;
  --popover-foreground: #344256;
  --primary: #f06694;
  --primary-foreground: #FFFFFF;
  --primary-hover: #bc4871;
  --primary-light: #ffe5f3;
  --primary-lighter: #fce7f3;
  --secondary: #d9eaf2;
  --secondary-foreground: #344256;
  --secondary-hover: #bdd7e7;
  --muted: #fffaeb;
  --muted-foreground: #7588a3;
  --muted-hover: #fff8e1;
  --accent: #c5edd3;
  --accent-foreground: #344256;
  --accent-hover: #a7e0b8;
  --destructive: #e99696;
  --destructive-foreground: #FFFFFF;
  --destructive-hover: #dc7373;
  --border: #e5e7eb;
  --border-hover: #d1d5db;
  --input: #eeeff2;
  --input-hover: #e2e4e9;
  --ring: #f06694;
  --radius: 1rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-full: 9999px;
  --fontSize-xs: 0.75rem;
  --fontSize-sm: 0.875rem;
  --fontSize-base: 1rem;
  --fontSize-lg: 1.125rem;
  --fontSize-xl: 1.25rem;
  --fontSize-2xl: 1.5rem;
  --fontSize-3xl: 1.875rem;
  --fontSize-4xl: 2.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --shadows-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadows: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadows-xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --animation-duration-fast: 150ms;
  --animation-duration-normal: 300ms;
  --animation-duration-slow: 500ms;
  --animation-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --animation-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --animation-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

}

[data-theme="dark"] {
  --background: #1e1e2e;
  --foreground: #f8f8f2;
  --card: #212131;
  --card-foreground: #f8f8f2;
  --popover: #212131;
  --popover-foreground: #f8f8f2;
  --primary: #e05299;
  --primary-foreground: #f8f8f2;
  --primary-hover: #c94480;
  --primary-light: #2d1b24;
  --primary-lighter: #3d2534;
  --secondary: #2d4653;
  --secondary-foreground: #f8f8f2;
  --secondary-hover: #3a5a6a;
  --muted: #29293d;
  --muted-foreground: #b3b398;
  --muted-hover: #323246;
  --accent: #366346;
  --accent-foreground: #f8f8f2;
  --accent-hover: #4a7a5a;
  --destructive: #bf4040;
  --destructive-foreground: #f8f8f2;
  --destructive-hover: #a33535;
  --border: #34344c;
  --border-hover: #434359;
  --input: #29293d;
  --input-hover: #323246;
  --ring: #e05299;
}
